@model IEnumerable<WebApps.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<header class="text-center jumbotron justify-content-center">
    <h1>Posts</h1>
</header>
<p>
    <a class="btn btn-success" asp-action="Create">Create Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PostId">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PostId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
