@model IEnumerable<WebApps.Models.MessagePost>

@{
    ViewData["Title"] = "Index";
}

<header class="text-center jumbotron justify-content-center">
    <h1>Message Posts</h1>
</header>
<p>
    <a class="btn btn-success" asp-action="Create">Add Message</a>
    <a class="btn btn-info" asp-action="Index" asp-controller="PhotoPosts">View Photos</a>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Posts">Return to Posts</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @item.FormatElapsedTime()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PostId">Details</a>
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
